replicaCount: 1

image:
  repository: ghcr.io/23skdu/longbow
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "9090"
  prometheus.io/path: "/metrics"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 3000
  metricsPort: 9090

metrics:
  enabled: true
  port: 9090

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
