name: Markdown Lint

on:
  push:
    paths:
      - "docs/**/*.md"
      - "README.md"
      - "CONTRIBUTING.md"
  pull_request:
    paths:
      - "docs/**/*.md"
      - "README.md"
      - "CONTRIBUTING.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          globs: "docs/**/*.md"
